In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import nltk
import spacy
import string

In [48]:
df = pd.read_csv('../dataSet/twcs.csv')

In [49]:
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 7 columns):
tweet_id                   93 non-null int64
author_id                  93 non-null object
inbound                    93 non-null bool
created_at                 93 non-null object
text                       93 non-null object
response_tweet_id          65 non-null object
in_response_to_tweet_id    68 non-null float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 4.6+ KB

In [51]:
df["text"] = df["text"].astype(str)

In [52]:
df["text_lower"] = df["text"].str.lower()
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,text_lower
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN,@applesupport causing the reply to be disregar...
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0,@105835 your business means a lot to us. pleas...
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN,@76328 i really hope you all change but i'm su...
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0,@105836 livechat is online at the moment - htt...
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0,@virgintrains see attached error message. i've...

In [53]:
#We can add or remove more punctuations or any char as per our need
def remove(text):
    return text.translate(str.maketrans('', '', '@'))
df["text_lower"]=df["text_lower"].apply(remove)

In [54]:
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,text_lower
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN,applesupport causing the reply to be disregard...
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0,105835 your business means a lot to us. please...
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN,76328 i really hope you all change but i'm sur...
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0,105836 livechat is online at the moment - http...
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0,virgintrains see attached error message. i've ...

In [55]:
#remove from stopwords
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["text_wo_stop"] = df["text_lower"].apply(lambda text: remove_stopwords(text))
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,text_lower,text_wo_stop
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN,applesupport causing the reply to be disregard...,applesupport causing reply disregarded tapped ...
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0,105835 your business means a lot to us. please...,"105835 business means lot us. please dm name, ..."
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN,76328 i really hope you all change but i'm sur...,76328 really hope change i'm sure won't! to!
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0,105836 livechat is online at the moment - http...,105836 livechat online moment - https://t.co/s...
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0,virgintrains see attached error message. i've ...,virgintrains see attached error message. i've ...

In [56]:
#if we have to remove most occuring or fewer word
from collections import Counter
cnt = Counter()
for text in df["text_wo_stop"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('us', 20),
 ('-', 18),
 ('dm', 15),
 ('https://t.co/gdrqu22ypt', 12),
 ('applesupport', 11),
 ('thanks', 10),
 ('please', 9),
 ('help', 9),
 ('hi', 9),
 ("i've", 8)]

In [57]:
cnt.most_common()[-10:]

[('slowdown.', 1),
 ('keen', 1),
 ('thin', 1),
 ('green', 1),
 ('line', 1),
 ('https://t.co/9281okeebk', 1),
 ('including', 1),
 ('browser', 1),
 ('log', 1),
 ('lee', 1)]

In [59]:
#Stemming is the process of reducing inflected (or sometimes derived) words to their word stem, base or 
#root form (From Wikipedia)
#For example, if there are two words in the corpus walks and walking, then stemming will stem the suffix to 
#make them walk. But say in another example, we have two words console and consoling, the stemmer will 
#remove the suffix and make them consol which is not a proper english word.

from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

df["text_stemmed"] = df["text"].apply(lambda text: stem_words(text))
df.head()
#Also this porter stemmer is for English language. If we are working with other languages,
#we can use snowball stemmer. The supported languages for snowball stemmer are

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,text_lower,text_wo_stop,text_stemmed
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN,applesupport causing the reply to be disregard...,applesupport causing reply disregarded tapped ...,@applesupport caus the repli to be disregard a...
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0,105835 your business means a lot to us. please...,"105835 business means lot us. please dm name, ...",@105835 your busi mean a lot to us. pleas DM y...
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN,76328 i really hope you all change but i'm sur...,76328 really hope change i'm sure won't! to!,@76328 I realli hope you all chang but i'm sur...
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0,105836 livechat is online at the moment - http...,105836 livechat online moment - https://t.co/s...,@105836 livechat is onlin at the moment - http...
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0,virgintrains see attached error message. i've ...,virgintrains see attached error message. i've ...,@virgintrain see attach error message. i'v tri...

In [62]:
#Lemmatization is similar to stemming in reducing inflected words to their word stem but differs in the way 
#that it makes sure the root word (also called as lemma) belongs to the language.As a result, this one is 
#generally slower than stemming process. So depending on the speed requirement, we can choose to use either 
#stemming or lemmatization.Let us use the WordNetLemmatizer in nltk to lemmatize our sentences

from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df["text_lemmatized"] = df["text"].apply(lambda text: lemmatize_words(text))
print("Lemma result for verb : ",lemmatizer.lemmatize("stripes", 'v'))
print("Lemma result for noun : ",lemmatizer.lemmatize("stripes", 'n'))
df.head()

Lemma result for verb :  strip
Lemma result for noun :  stripe

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,text_lower,text_wo_stop,text_stemmed,text_lemmatized
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN,applesupport causing the reply to be disregard...,applesupport causing reply disregarded tapped ...,@applesupport caus the repli to be disregard a...,@AppleSupport causing the reply to be disregar...
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0,105835 your business means a lot to us. please...,"105835 business means lot us. please dm name, ...",@105835 your busi mean a lot to us. pleas DM y...,@105835 Your business mean a lot to us. Please...
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN,76328 i really hope you all change but i'm sur...,76328 really hope change i'm sure won't! to!,@76328 I realli hope you all chang but i'm sur...,@76328 I really hope you all change but I'm su...
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0,105836 livechat is online at the moment - http...,105836 livechat online moment - https://t.co/s...,@105836 livechat is onlin at the moment - http...,@105836 LiveChat is online at the moment - htt...
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0,virgintrains see attached error message. i've ...,virgintrains see attached error message. i've ...,@virgintrain see attach error message. i'v tri...,@VirginTrains see attached error message. I've...

In [65]:
#remove emoticion , emotion/smiley to word by creating vocab
def remove_html(text):
    html_pattern = re.compile(r'<.*?>')
    return html_pattern.sub('', text) #manipulate string test replace with ''

text = """<div>
<h1> H2O</h1>
<p> AutoML</p>
<a href="https://www.h2o.ai/products/h2o-driverless-ai/"> Driverless AI</a>
</div>"""

print(remove_html(text))

 H2O
 AutoML
 Driverless AI

In [64]:
from bs4 import BeautifulSoup

def remove_html(text):
    return BeautifulSoup(text, "lxml").text

text = """<div>
<h1> H2O</h1>
<p> AutoML</p>
<a href="https://www.h2o.ai/products/h2o-driverless-ai/"> Driverless AI</a>
</div>
"""

print(remove_html(text))

 H2O
 AutoML
 Driverless AI